{% extends "base.html" %}

{% block projectactive %}active{% endblock projectactive %}
{% block title %}Projects{% endblock title %}

{% block body %}
<div class="container my-3">
    <h2 class="text-center my-3 py-3">My Projects</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/random/500x300/?html,programing" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Designer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="btn btn-primary">DEMO</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/random/500x300/?coding,programing" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">IDEAS</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/random/500x300/?code,programing" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Enternainer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}